html {
font-size: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: $font-light;
    line-height: 2.4rem;
}

img{
    max-width: 100%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-weight: $font-semibold;
}

.h2,
h2 {
    font-size: 2.5rem;
}

//inputs
.form-control{
    min-height: 3.2rem;
    font-size: 1.2rem;
    border: none;
    background-color: $gray;
    &:focus{
        background-color: $gray;
        box-shadow: none;
    }
}

//buttons
.btn{
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: .5rem 1rem;
    box-shadow: none !important;
}
.btn-primary{
    background-color: $gray-dk;
    color: white;
    border-color: $gray-dk;
    &:hover{
        background-color: transparent;
        border-color: $gray-dk;
        color: $gray-dk;
    }
}

.btn-secondary{
    background-color: transparent;
    color: $gray-dk;
    border-color:  $gray-dk;
    &:hover{
        background-color: $gray-dk;
        color: white;
        border-color: $gray-dk;
    }
}



.page-section {
    padding: $pad-lg 0;
    .sub-heading {
        font-weight: $font-semibold;
    }
}


