.hero-section {
    background-color: black;
    min-height: 100vh;
    background-image: url(/Images/arjun.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    h1 {
        font-size: 10rem;
        font-weight: normal;
        letter-spacing: .5rem;
        margin-bottom: .05rem;
    }
    p {
        margin-bottom: 0;
        font-size: 1.6rem;
        text-transform: uppercase;
    }
}

#about {
    background-color: #283C51;
    color: white;
}