// colors
$blue: blue;
//=========================================================
// font sizes
$font-light: 300;
$font-semibold: 600;
$font-bold: 700;
//=========================================================
// paddings
$pad-lg: 9rem;
$pad-m: 6rem;
$pad-sm: 4rem;
$pad-xs: 2rem;