// colors
$blue: blue;
$gray: #F7F7F7;
$gray-dk: #333;
//=========================================================
// font sizes
$font-x-light: 200;
$font-light: 300;
$font-semibold: 700;
$font-bold: 800;
//=========================================================
// paddings
$pad-lg: 9rem;
$pad-m: 6rem;
$pad-sm: 4rem;
$pad-xs: 2rem;